
.h1{
font-size: small;
font-family: Verdana, Geneva, Tahoma, sans-serif;
forced-color-adjust: bold;
}
.pozadina{
    background-color: aqua;
}
.btn_izracunaj{
    border: none;
    background-color:white;
    cursor: pointer;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}